name: Build binaries

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        include:
          - os: ubuntu-latest
            resources-dir: linux-x64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create local.properties
        run: |
          echo "${{ secrets.LOCAL_PROPERTIES }}" > local.properties

#      - if: matrix.resources-dir == 'linux-x64'
#        name: Set up Android secrets
#        shell: bash
#        run: |
#          echo "${{ secrets.ANDROID_KEYSTORE_JKS }}" | base64 -d - > androidApp/android-keystore.jks

      - if: matrix.resources-dir == 'linux-x64'
        name: Build APK
        shell: bash
        run: |
          export JAVA_HOME=$JAVA_HOME_21_X64
          $ANDROID_HOME/cmdline-tools/**/bin/sdkmanager --update
          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --list_installed
          ./gradlew androidApp:assembleReleaseGithub
          ./gradlew --stop

      - if: matrix.resources-dir == 'linux-x64'
        name: Upload Android binary
        uses: actions/upload-artifact@v4
        with:
          name: pano-scrobbler-android-universal
          path: ./androidApp/build/outputs/*
